* {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    height: 50px;
    margin-top: 20px;
}

.menu-item {
    float: left;
    border: 1px solid black;
    padding: 5px;
    margin: 0;
    width: 150px;
    text-align: center;
    background-color: silver;
}

.menu-item:not(:last-child) {
    border-right: none;
}

.menu-item > a {
    text-decoration: none;
    color: #3c3c3c;
}

.btn-cart {
    float: right;
    border: 1px solid #b99;
    background-color: #db9;
    border-radius: 2px;
    padding: 5px;
    font-size: 1em;
}

.product-item {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 290px;
    background-color: silver;
}

.product-item h3 {
    font-size: 1.8em;
    margin: 10px;
    margin-left: 20px;
}

.product-item p {
    font-size: 1.3em;
    text-align: right;
}

.product-item button {
    float: right;
    border: 1px solid #b99;
    background-color: #db9;
    border-radius: 2px;
    padding: 5px;
}

.menu-item:hover, .product-item:hover, .btn-cart:hover {
    box-shadow: 0 0 2px 2px #aaa;
}

.product-item > button:hover {
    border-color: black;
}